<header id="header" class="header">
  <div class="header_wrap">

	<!-- ▼ Nav ▼ -->
	<div id="bar">

		<!-- ▼ Nav-Mobile ▼ -->
	  <div class="nav_wrap">
			<input id="menu" type="checkbox" name="menu" class="menu_check"/>
			<label for="menu" class="btn"></label>
			<nav class="menu_wrap">
				<ul class="list">
					<li><a href="">ホーム</a></li>
		      <li><a href="./information">情報</a></li>
		      <li><a href="./events">観光・イベント</a></li>
		      <li><a href="./guide">施設案内</a></li>
		      <li><a href="./about">小川町について</a></li>
				  <li><a href="./contacts">お問い合わせ</a></li>
				</ul>
			</nav>
			<div class="menu_close"><label for="menu"></label></div>
		</div>

	  <div class="nav">
		  <a class="logo" href=""><img src="./images/OGAWA_wh_x500.png" alt="OGAWA"></a> 
		    <div class="nav-contents">
			    <ul>
						<li><a href="">ホーム</a></li>
						<li><a href="./information">情報</a></li>
						<li><a href="./events">観光・イベント</a></li>
						<li><a href="./guide">施設案内</a></li>
						<li><a href="./about">小川町について</a></li>
						<li><a href="./contacts">お問い合わせ</a></li>
			    </ul>
		    </div>
		</div>
    
	  <div class="nav2">
			<a class="logo" href=""><img src="./images/OGAWA_bl_x500.png" alt="OGAWA"></a> 
		    <div class="nav2-contents">
			    <ul>
						<li><a href="">ホーム</a></li>
						<li><a href="./information">情報</a></li>
						<li><a href="./events">観光・イベント</a></li>
						<li><a href="./guide">施設案内</a></li>
						<li><a href="./about">小川町について</a></li>
						<li><a href="./contacts">お問い合わせ</a></li>
			    </ul>
		    </div>
		</div>

	</div>

  </div>
</header>
