<footer class="footer">
  <div class="footer_wrap">
    <div class="footer_content">
      <div class="footer_content_inner">
        <p class="copyright">&copy; CopyRight</p>
      </div>
    </div>
  </div>
</footer>
